
.startPoint {
    width: 50px;
    height: 50px;
    position: fixed;
    right: 100px;
    bottom: 100px;
    z-index: 899998989;
    background: black;
    border: none;
    outline: none;
    cursor: pointer;
}

/*section01*/
#section01 {
    height: 50000px; /*높이가 높을수록 고정이 오래됩니다.*/
    position: relative;
}

#section01 .trigger_this_01 { /*고정용부모*/
    height: 100%;
}

#section01 .fix_this_1 { /*고정되어서 보여지는 화면*/
    width: 100vw;
    height: 100vh;
    position: relative;
    background-color: #e0ded8;
}


#section01 .main_bg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
}

#section01 .main_img01 {
    width: 1428px;
    height: 772px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 100;
}

#section01 .main_img01 > div{
    position: absolute;
    left: 0;
    top: 0;
}

#section01 .main_bg .kitchen_main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
}

#section01 .main_bg .laundry_main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
}

#section01 .main_bg .room_main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
}



#section01 .main_bg .bg_line {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

/* kitchen_box */
#section01 .kitchen_box {
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 500;
}
/*https://developer.mozilla.org/en-US/docs/Web/CSS/transform-origin*/
#section01 .kitchen_box .left_plant1 {
    position: absolute;
    top: 100px;
    left: 0;
    transform-origin: 10px 10px;
}

#section01 .kitchen_box .left_plant2 {
    position: absolute;
    top: 374px;
    left: 0;
    z-index: 3;
}

#section01 .kitchen_box .left_plant3 {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 4;
}

#section01 .kitchen_box .left_plant4 {
    position: absolute;
    z-index: 3;
    bottom: 0;
    left: 215px;

}

#section01 .kitchen_box .left_plant5 {
    position: absolute;
    z-index: 4;
    bottom: 0;
    left: 436px;
}

/* plant_box_right */
#section01 .plant_box_right {
    width: 20%;
    height: 100%;
    z-index: 1000;
    position: absolute;
    right: 0;
}

#section01 .plant_box_right .right_plant1 {
    position: absolute;
    top: 148px;
    right: 0;

}

#section01 .plant_box_right .right_plant2 {
    top: 328px;
    left: 120px;
    position: absolute;
    right: 0;
    z-index: 3;
}

#section01 .plant_box_right .right_plant3 {
    position: absolute;
    z-index: 5;
    bottom: 0;
    right: 220px;

}

#section01 .plant_box_right .right_plant4 {
    position: absolute;
    z-index: 4;
    bottom: 0;
    right: 60px;
}

/* kitchen */
/* kitchen_box */
#section01 .kitchen_box {
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 500;
}

/* kitchen_box left*/
/*https://developer.mozilla.org/en-US/docs/Web/CSS/transform-origin*/
#section01 .kitchen_box .left_kitchen1 {
    position: absolute;
    top: -157px;
    left: 385px;
    transform-origin: 10px 10px;
}

#section01 .kitchen_box .left_kitchen2 {
    position: absolute;
    top: 120px;
    left: 416px;
    z-index: 1;
}

#section01 .kitchen_box .left_kitchen3 {
        position: absolute;
        top: 26%;
        left: -208px;
        z-index: 4;
}

#section01 .kitchen_box .left_kitchen4 {
    position: absolute;
    z-index: 3;
    bottom: 108PX;
    left: -110px;
}

#section01 .kitchen_box .left_kitchen5 {
    position: absolute;
    z-index: 4;
    bottom: -145px;
    left: 174PX;
}

/* kitchen_box right*/
#section01 .kitchen_box_right {
    width: 20%;
    height: 100%;
    z-index: 1000;
    position: absolute;
    right: 0;
}

#section01 .kitchen_box_right .right_kitchen1 {
    position: absolute;
    top: -103px;
    right: 497px;
}

#section01 .kitchen_box_right .right_kitchen2 {
    top: 53px;
    left: 197px;
    position: absolute;
    right: 0;
    z-index: 3;
}

#section01 .kitchen_box_right .right_kitchen3 {
    position: absolute;
    z-index: 5;
    bottom: -198px;
    right: -142px;

}

#section01 .kitchen_box_right .right_kitchen4 {
    position: absolute;
    z-index: 5;
    bottom: -90px;
    right: 183px;
}



/* 물방울 */
/* laundry_box */
#section01 .laundry_box {
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 500;
}

/* laundry_box left*/
/*https://developer.mozilla.org/en-US/docs/Web/CSS/transform-origin*/
#section01 .laundry_box .left_laundry1 {
    position: absolute;
    top: -112px;
    left: 454px;
}

#section01 .laundry_box .left_laundry2 {
    position: absolute;
    top: 262px;
    left: 0;
    z-index: 1;
}

#section01 .laundry_box .left_laundry3 {
    position: absolute;
    top: 44%;
    left: 309px;
    z-index: 4;
}

#section01 .laundry_box .left_laundry4 {
    position: absolute;
    z-index: 3;
    bottom: -257px;
    left: -100px;
}

#section01 .laundry_box .left_laundry5 {
    position: absolute;
    z-index: 4;
    bottom: -8%;
    left: 200px;
}

#section01 .laundry_box .left_laundry6 {
    position: absolute;
    z-index: 4;
    bottom: -45px;
    left: 260px;
}

#section01 .laundry_box .left_laundry7 {
    position: absolute;
    z-index: 4;
    bottom: -45px;
    left: 170px;
}


#section01 .laundry_box .left_laundry8 {
    position: absolute;
    z-index: 4;
    bottom: 3%;
    left: 700px;
}


#section01 .laundry_box .left_laundry9 {
    position: absolute;
    z-index: 4;
    top: 21%;
    left: 620px;
}


/* laundry_box rigth*/
#section01 .laundry_box_right {
    width: 20%;
    height: 100%;
    z-index: 1000;
    position: absolute;
    right: 0;
}

#section01 .laundry_box_right .right_laundry1 {
    position: absolute;
    top: 9px;
    right: 679px;
}

#section01 .laundry_box_right .right_laundry2 {
    top: -191px;
    left: -348px;
    position: absolute;
    right: 0;
    z-index: 3;
}

#section01 .laundry_box_right .right_laundry3 {
    position: absolute;
    z-index: 5;
    bottom: -198px;
    right: -142px;

}

#section01 .laundry_box_right .right_laundry4 {
    position: absolute;
    z-index: 5;
    top: 443px;
    right: 643px;
}


#section01 .laundry_box_right .right_laundry5 {
    position: absolute;
    z-index: 5;
    right: 48px;
    top: 156px;
}



#section01 .laundry_box_right .right_laundry6 {
    position: absolute;
    z-index: 5;
    top: 180px;
    right: -147px;
}

#section01 .laundry_box_right .right_laundry7 {
    position: absolute;
    z-index: 5;
    bottom: -175px;
    right: -95px;
}

#section01 .laundry_box_right .right_laundry8 {
    position: absolute;
    z-index: 5;
    top: 327px;
    right: 992px;
}

/*깃털*/
/* feathe_box */
#section01 .room_box {
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 500;
}

/* room_box left*/
/*https://developer.mozilla.org/en-US/docs/Web/CSS/transform-origin*/
#section01 .room_box_left .left_room1{
    position: absolute;
    top: -220px;
    left: 660px;
}

#section01 .room_box_left .left_room2{
    position: absolute;
    top: 262px;
    left: 0;
    z-index: 1;
}

#section01 .room_box_left .left_room3{
    position: absolute;
    top: 44%;
    left: 143px;
    z-index: 4;
}

#section01 .room_box_left .left_room4{
    position: absolute;
    z-index: 3;
    top: 243px;
    left: 392px;
}

#section01 .room_box_left .left_room5{
    position: absolute;
    z-index: 4;
    bottom: 2%;
    left: 121px;
}

#section01 .room_box_left .left_room6{
    position: absolute;
    z-index: 4;
    top: 55%;
    left: 835px;
}


/* laundry_box rigth*/
#section01 .room_box_right{
    width: 20%;
    height: 100%;
    z-index: 1000;
    position: absolute;
    right: 0;
}

#section01 .room_box_right .right_room1 {
    position: absolute;
    top: 308px;
    right: 725px;
}

#section01 .room_box_right .right_room2 {
    position: absolute;
    top: 132px;
    right: 422px;
    z-index: 3;
}

#section01 .room_box_right .right_room3 {
    position: absolute;
    z-index: 5;
    top: 8%;
    right: 0px;
}

#section01 .room_box_right .right_room4 {
    position: absolute;
    z-index: 5;
    bottom: -74px;
    right: 0px;
}


/*fix_title*/
#section01 .fix_title {
    position: absolute;
    top: 0;
    z-index: 5;
    width: 1920px;
    overflow: hidden;
}

/* main_btn */
#section01 .main_btn {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    z-index: 700;
    width: 80%;
    display: flex;
    justify-content: space-between;
}

/*section02*/
#section02 {
    background: dodgerblue;
    height: 35000px;
}

#section02 .trigger_this_02 {
    height: 100%;
}

#section02 .fix_this_2 {
    width: 100vw;
    height: 100vh;
    position: relative;
}

/*전체길이(28798px)*/
#section02 .fix_this_2 .xScroll2 {
    width: calc(100vw + 26878px);
    height: 100vh;
    position: relative;
    display: flex;
}


/* scroll_page01 */
#section02 .fix_this_2 .xScroll2 .scroll_page01 {
    width: 100vw;
    background: #cdccd2;
    height: 100vh;
    position: relative;
}

#section02 .fix_this_2 .xScroll2 .scroll_page01 .page01_box {
    width: 1920px;
    height: 980px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#section02 .fix_this_2 .xScroll2 .scroll_page01 .page01_bg {
    position: absolute;
    top: 178px;
    left: 422px;
}

#section02 .fix_this_2 .xScroll2 .scroll_page01 .page01_top_txt {
    position: absolute;
    top: 91px;
    left: 50%;
    transform: translateX(-50%)
}

#section02 .fix_this_2 .xScroll2 .scroll_page01 .page01_bottom_txt {
    position: absolute;
    top: 610px;
    left: 484px;
}

#section02 .fix_this_2 .xScroll2 .scroll_page01 .page01_long_txt {
    position: absolute;
    bottom: 106px;
    left: 532px;
}

/* scroll_page02 */
#section02 .fix_this_2 .xScroll2 .scroll_page02 {
    width: 4762px;
    background: yellow;
    height: 100vh;
    position: relative;
}

#section02 .fix_this_2 .xScroll2 .scroll_page02 .page02_box {
    height: 980px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f6ebe0;
}

#section02 .fix_this_2 .xScroll2 .scroll_page02 .page02_big_title {
    position: absolute;
    left: 168px;
    top: 127px;
}

#section02 .fix_this_2 .xScroll2 .scroll_page02 .page02_small_title {
    position: absolute;
    left: 168px;
    top: 458px;
}

#section02 .fix_this_2 .xScroll2 .scroll_page02 .page02_refrigerator_box {
    position: absolute;
    left: 730px;
    bottom: 0;
}

#section02 .fix_this_2 .xScroll2 .scroll_page02 .page02_color_title_box {
    width: 300px;
    height: 400px;
    position: absolute;
    left: 1453px;
    top: 364px;
}

#section02 .fix_this_2 .xScroll2 .scroll_page02 .page02_color_title_box > div {
    margin-bottom: 40px;
}

#section02 .fix_this_2 .xScroll2 .scroll_page02 .page02_second_txt1 {
    position: absolute;
    left: 2104px;
    top: 189px;
}

#section02 .fix_this_2 .xScroll2 .scroll_page02 .page02_second_txt2 {
    position: absolute;
    left: 2630px;
    top: 420px;
}

#section02 .fix_this_2 .xScroll2 .scroll_page02 .page02_second_txt3 {
    position: absolute;
    bottom: 170px;
    left: 3252px;
}

#section02 .fix_this_2 .xScroll2 .scroll_page02 .page02_second_txt4 {
    position: absolute;
    left: 2630px;
    bottom: 308px;
}

#section02 .fix_this_2 .xScroll2 .scroll_page02 .page02_second_txt5 {
    position: absolute;
    left: 2630px;
    bottom: 172px;
}

#section02 .fix_this_2 .xScroll2 .scroll_page02 .page02_moodup1 {
    position: absolute;
    left: 1920px;
    bottom: 0;
}

#section02 .fix_this_2 .xScroll2 .scroll_page02 .page02_moodup2 {
    position: absolute;
    left: 3578px;
    top: 0;
}

#section02 .fix_this_2 .xScroll2 .scroll_page02 .page02_letter {
    position: absolute;
    left: 4551px;
    top: 0;
}

/*scroll_page03*/
#section02 .fix_this_2 .xScroll2 .scroll_page03 {
    width: 7496px;
    background: black;
    height: 100vh;
    position: relative;
}

#section02 .fix_this_2 .xScroll2 .scroll_page03 .page03_box {
    height: 980px;
    position: relative;
    background-color: #2c2c2c;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#section02 .fix_this_2 .xScroll2 .scroll_page03 .page03_box .color_collection_tittle_en {
    position: absolute;
    top: 274px;
    left: 1760px;
}

#section02 .fix_this_2 .xScroll2 .scroll_page03 .page03_box .mini_video {
    position: absolute;
    top: 445px;
    left: 1731px;
}

#section02 .fix_this_2 .xScroll2 .scroll_page03 .page03_box .text01 {
    position: absolute;
    top: 391px;
    left: 1731px;
}

#section02 .fix_this_2 .xScroll2 .scroll_page03 .page03_box .color_sub {
    position: absolute;
    top: 0;
    left: 2947px;
}

#section02 .fix_this_2 .xScroll2 .scroll_page03 .page03_box .text02 {
    position: absolute;
    bottom: 196px;
    left: 3058px;
    z-index: 1;
}

#section02 .fix_this_2 .xScroll2 .scroll_page03 .page03_box .tittle_kor {
    position: absolute;
    top: 391px;
    left: 3369px;
}

#section02 .fix_this_2 .xScroll2 .scroll_page03 .page03_box .Music_is_always_by_my_side {
    position: absolute;
    top: 0;
    right: 32px;
}


/* scroll_page04 */
#section02 .fix_this_2 .xScroll2 .scroll_page04 {
    width: 6644px;
    background: bisque;
    height: 100vh;
    position: relative;
}

#section02 .fix_this_2 .xScroll2 .scroll_page04 .page04_box {
    /* width: 1920px; */
    height: 980px;
    position: relative;
    background-color: #fff4e5;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#section02 .fix_this_2 .xScroll2 .scroll_page04 .page04_box .music_collection_en {
    position: absolute;
    top: 309px;
    left: 1720px;
}

#section02 .fix_this_2 .xScroll2 .scroll_page04 .page04_box .text1 {
    position: absolute;
    top: 234px;
    left: 1734px;
}

#section02 .fix_this_2 .xScroll2 .scroll_page04 .page04_box .music_mini_video {
    position: absolute;
    top: 328px;
    left: 2412px;
}

#section02 .fix_this_2 .xScroll2 .scroll_page04 .page04_box .sub_image {
    position: absolute;
    top: 0;
    left: 2990px;
}

#section02 .fix_this_2 .xScroll2 .scroll_page04 .page04_box .tittle_kor {
    position: absolute;
    bottom: 178px;
    left: 3684px;
}

#section02 .fix_this_2 .xScroll2 .scroll_page04 .page04_box .text2 {
    position: absolute;
    bottom: 152px;
    left: 2990px;
}

#section02 .fix_this_2 .xScroll2 .scroll_page04 .page04_box .circle_text_big {
    position: absolute;
    top: -45px;
    left: 4970px;
}

#section02 .fix_this_2 .xScroll2 .scroll_page04 .page04_box .circle_text_small {
    position: absolute;
    top: 164px;
    left: 5160px;
}

#section02 .fix_this_2 .xScroll2 .scroll_page04 .page04_box .left_phone {
    position: absolute;
    top: 285px;
    left: 5249px;
}

#section02 .fix_this_2 .xScroll2 .scroll_page04 .page04_box .right_phone {
    position: absolute;
    top: 148px;
    right: 870px;
}

#section02 .fix_this_2 .xScroll2 .scroll_page04 .page04_box .voice_assistant {
    position: absolute;
    top: 0;
    right: 30px;
}

/* scroll_page05 */

#section02 .fix_this_2 .xScroll2 .scroll_page05 {
    width: 7976px;
    background: dodgerblue;
    height: 100vh;
    position: relative;
}

#section02 .fix_this_2 .xScroll2 .scroll_page05 .page05_box {
    height: 980px;
    position: relative;
    background-color: #e5e8ff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#section02 .fix_this_2 .xScroll2 .scroll_page05 .page05_box .voice_assistant_en {
    position: absolute;
    top: 384px;
    left: 1737px;
}

#section02 .fix_this_2 .xScroll2 .scroll_page05 .page05_box .text01 {
    position: absolute;
    top: 328px;
    left: 1733px;
}

#section02 .fix_this_2 .xScroll2 .scroll_page05 .page05_box .small_video {
    position: absolute;
    top: 431px;
    left: 2295px;
}

#section02 .fix_this_2 .xScroll2 .scroll_page05 .page05_box .phone {
    position: absolute;
    bottom: 0;
    left: 3342px;
    z-index: 1;
}

#section02 .fix_this_2 .xScroll2 .scroll_page05 .page05_box .left_blah {
    position: absolute;
    top: 490px;
    left: 3030px;
    z-index: 2;
}

#section02 .fix_this_2 .xScroll2 .scroll_page05 .page05_box .right_blah {
    position: absolute;
    top: 348px;
    left: 3652px;
    z-index: 2;
}

#section02 .fix_this_2 .xScroll2 .scroll_page05 .page05_box .circle01 {
    position: absolute;
    bottom: 174px;
    left: 2995px;
}

#section02 .fix_this_2 .xScroll2 .scroll_page05 .page05_box .circle02 {
    position: absolute;
    top: 91px;
    left: 3143px;
    z-index: 2;
}

#section02 .fix_this_2 .xScroll2 .scroll_page05 .page05_box .circle03 {
    position: absolute;
    bottom: 75px;
    left: 3712px;
}

#section02 .fix_this_2 .xScroll2 .scroll_page05 .page05_box .circle04 {
    position: absolute;
    top: -42px;
    left: 3836px;
}

#section02 .fix_this_2 .xScroll2 .scroll_page05 .page05_box .circle05 {
    position: absolute;
    top: 430px;
    left: 4007px;
}

#section02 .fix_this_2 .xScroll2 .scroll_page05 .page05_box .tittle_kor {
    position: absolute;
    top: 171px;
    left: 4862px;
}

#section02 .fix_this_2 .xScroll2 .scroll_page05 .page05_box .text02 {
    position: absolute;
    top: 493px;
    left: 4998px;
}

#section02 .fix_this_2 .xScroll2 .scroll_page05 .page05_box .letter_box {
    width: 1200px;
    height: 300px;
    position: absolute;
    top: 638px;
    left: 4542px;
    display: flex;
    justify-content: space-between;
}

#section02 .fix_this_2 .xScroll2 .scroll_page05 .page05_box .big_video {
    position: absolute;
    top: 142px;
    left: 6480px;
}


#section03 {
    background: gray;
}

#section03 .cube01 {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 100px;
    top: 100px;
}

#section03 .cube01 .box01 {
    width: 200px;
    height: 200px;
    border: 3px solid white;
}

#section04 {
    background: hotpink;
}


#section05 {
    background: aqua;
}










